@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: #464646;
}

header {
  font-weight: 700;
}
header .d-flex {
  justify-content: space-between;
  align-items: center;
}

.container.d-flex {
  height: 115px;
}

.img {
  height: 80px;
}
.img img {
  max-height: 100%;
}

ul li {
  margin: 0px 20px;
  height: 115px;
  line-height: 115px;
}

span.active {
  font-size: 10px;
  position: relative;
  bottom: 1.5px;
  color: #0282f9;
}

li.active {
  border-bottom: 3px solid #0282f9;
}
li.active a {
  color: #0282f9;
}

.searchbar input {
  width: 135px;
  background-image: url(https://cdn1.iconfinder.com/data/icons/feather-2/24/search-512.png);
  background-size: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  height: 25px;
  border: none;
  border-bottom: 2px solid #0282f9;
}
.searchbar input::-moz-placeholder {
  text-align: end;
  padding-right: 25px;
  color: #464646;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
}
.searchbar input:-ms-input-placeholder {
  text-align: end;
  padding-right: 25px;
  color: #464646;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
}
.searchbar input::placeholder {
  text-align: end;
  padding-right: 25px;
  color: #464646;
  font-weight: 700;
  font-family: "PT Sans Narrow", sans-serif;
}

.h-top {
  background-color: #0282f9;
  color: white;
  height: 25px;
}
.h-top .container {
  text-align: end;
  line-height: 25px;
}
.h-top span.arrow {
  font-size: 10px;
  position: relative;
  bottom: 1.5px;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
}

main {
  background-color: #1c1c1c;
  color: white;
  text-transform: uppercase;
}

.card {
  width: 180px;
  margin-top: 55px;
}

.img-card {
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}
.img-card img {
  width: 100%;
}

.container.d-flex {
  position: relative;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.current-series {
  position: absolute;
  left: 0;
  top: -30px;
  height: 60px;
  width: 260px;
  background-color: #0282f9;
  font-size: 23px;
  text-align: center;
  line-height: 60px;
}

.load-more {
  width: 185px;
  margin: 50px auto 0 auto;
  padding-bottom: 20px;
}
.load-more button {
  width: 185px;
  height: 37px;
  background-color: #0282f9;
  border: none;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
}